@media screen and (max-width: 900px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        padding: 1rem;
    }
    
    .icons {
        display: none;
    }

    main {
        height: 80vh;
    }
}



@media screen and (max-width: 800px){
    header {
        display: block;
    }
    
    header h1 {
        text-align: center;
        margin: 2rem 0px;
    }
}